<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang Chính</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-container a {
            width: 100%;
            max-width: 400px;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center mb-4">Chọn hành động - 21054421 - Trần Trọng Tín</h2>
    <div class="btn-container d-flex flex-column align-items-center">
        <!-- Nút cho link đến trang đăng nhập ứng viên -->
        <a href="/candidate/login" class="btn btn-primary mb-3">Login để tìm việc phù hợp</a>

        <!-- Nút cho link đến trang đăng bài tuyển dụng -->
        <a href="/job/post-job" class="btn btn-success mb-3">Đăng bài tuyển dụng</a>

        <!-- Xuất danh sách có phân trang -->
        <a href="/list" class="btn btn-info mb-3">Danh sách có phân trang</a>

        <!-- Xuất danh sách không phân trang -->
        <a href="/listkpt" class="btn btn-secondary mb-3">Danh sách không phân trang</a>

        <!-- Xuất danh ứng viên có skill phù hợp cho company chọn -->
        <a href="/candidate/skill_search" class="btn btn-warning mb-3">Tìm danh sách ứng viên có Skill phù hợp cho company</a>

        <!-- Xuất danh sách Các Skill ứng viên cần học thêm-->
        <a href="/candidate/login_learnSkill" class="btn btn-danger mb-3">Danh sách Các Skill ứng viên cần học thêm</a>
    </div>
</div>
</body>
</html>
